[submodule "escrow-system/lib/forge-std"]
	path = escrow-system/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "escrow-system/lib/openzeppelin-contracts"]
	path = escrow-system/lib/openzeppelin-contracts
	url = https://github.com/openzeppelin/openzeppelin-contracts
